name: unit_tests

on: pull_request

jobs:


  Testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '>=1.20'

      - name: Run unit tests
        run: go run ci/main.go test
           